HOLA
<app-xyz></app-xyz>
<app-xyz></app-xyz>
<app-xyz></app-xyz>
<app-xyz></app-xyz>
<app-xyz></app-xyz>

<app-hello-world></app-hello-world>

{{ title }}

<img src="{{ imgUrl }}" alt="" />

<app-btn [text]="title"></app-btn>
<app-btn [text]="'Adios'"></app-btn>
<app-btn [text]="'Cancelar'"></app-btn>
<app-btn [text]="'Aceptar'"></app-btn>
<app-btn [text]="'Juan'" [classnames]="'c-btn--sec'"></app-btn>

<app-input-img></app-input-img>
<app-input-img
  [imgUrl]="
    'https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Cat03.jpg/1200px-Cat03.jpg'
  "
></app-input-img>

<app-input-anime></app-input-anime>
<app-input-anime [data]="anime1"></app-input-anime>

<app-ng-if></app-ng-if>

<app-button-click></app-button-click>

<app-ng-if-over></app-ng-if-over>

<div>
  <app-ng-style-ball></app-ng-style-ball>
  <app-ng-style-ball [color]="'green'"></app-ng-style-ball>
  <app-ng-style-ball [color]="'blue'"></app-ng-style-ball>
  <app-ng-style-ball [color]="'#FFF000'"></app-ng-style-ball>
</div>

<app-ng-class></app-ng-class>

<app-ng-model></app-ng-model>


<h1>Random hidden</h1>
<app-randomhidden></app-randomhidden>

<h1>Ng Content</h1>
<app-ng-content-button>Hello</app-ng-content-button>
<app-ng-content-button>Pepe</app-ng-content-button>

<h1>Ng Container</h1>
<app-ng-container></app-ng-container>
